<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primicias-ANIME</title>

    <!-- PrimeNG y PrimeIcons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/primeng@15.2.0/resources/themes/lara-light-indigo/theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/primeng@15.2.0/resources/primeng.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/primeicons@6.0.0/primeicons.css">
</head>

<body>
    <!-- Título Principal -->
    <header>
        <h1 style="text-align: center; font-size: 2.5rem; margin: 20px 0;">PRIMICIA:Anime <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i></h1>
        
    </header>

    <!-- Cards -->
    <div class="card-container">
        <!-- Card  -->
        <p-card header="Autor de Oshi no Ko critica a los haters" subheader="Oshi no Ko" [style]="{ width: '300px', backgroundColor: '#d6eaf8 ', color: '#1c2833 ' }">
            <ng-template pTemplate="header">
                <img alt="Messi Card" src="https://www.hindustantimes.com/ht-img/img/2023/08/11/1600x900/Oshi_no_Ko_1688028588321_1691746476743.png" />
            </ng-template>
            <p>
                Akasaka, el guionista de la obra, confesó que estas dinámicas no son ajenas a su propia experiencia. «Los artistas y los creadores están muy expuestos al escrutinio público, y eso los convierte en blanco de calumnias. Es algo con lo que me puedo identificar, lo que hizo que escribir sobre ello fuera un poco más fácil», explicó.
            </p>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
                    <p-button 
                        label="ver MAS Chisme" 
                        severity="success" 
                        styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-pink-500">
                        <i class="pi pi-download"></i> <!-- Ícono pi-download -->
                    </p-button>
                </div>
            </ng-template>
        </p-card>
    
        <!-- Card -->
        <p-card header="VISA no quiere que los otakus se casen" subheader="VISA" [style]="{ width: '300px', backgroundColor: '#e8daef ', color: '#1c2833 ' }">
            <ng-template pTemplate="header">
                <img alt="VISA" src="https://i.gifer.com/ax.gif" />
            </ng-template>
            <p>
                Aellune, un servicio de matchmaking para otakus, anunció el pasado 14 de diciembre que VISA suspendería los pagos con tarjeta de crédito en su sitio web. Esta decisión, que formaría parte de una serie de restricciones impuestas por procesadores de pago internacionales, causó controversia tanto en la comunidad otaku como en plataformas similares en Japón. Sin embargo, en una actualización del 16 de diciembre, Aellune informó que Visa decidió permitir nuevamente las transacciones tras una reacción pública significativa.
            </p>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
                    <p-button 
                        label="ver MAS Chisme" 
                        severity="success" 
                        styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-red-900">
                        <i class="pi pi-crown"></i> <!-- Ícono pi-crown -->
                    </p-button>
                </div>
            </ng-template>
        </p-card>
    
        <!-- Card -->
        <p-card header="Sousou no Frieren fue lo mejor de 2024 según IGN" subheader="Sousou no Frieren" [style]="{ width: '300px', backgroundColor: '#a3e4d7 ', color: '#1c2833 ' }">
            <ng-template pTemplate="header">
                <img alt="Sousou no Frieren" src="https://i.gifer.com/3uvT.gif" />
            </ng-template>
            <p>
                IGN, uno de los portales de entretenimiento más reconocidos a nivel mundial, realizó recientemente una encuesta para determinar cuál fue el mejor anime del año 2024. La votación, que acumuló un total de 4,083 participaciones, mostró un claro favorito: Sousou no Frieren, con un abrumador 59.3% de los votos. La competencia incluyó otras producciones destacadas como Delicious in Dungeon, The Apothecary Diaries y la segunda temporada de Oshi no Ko.
            </p>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
                    <p-button 
                        label="ver MAS Chisme" 
                        severity="success" 
                        styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
                        <i class="pi pi-thumbs-up-fill"></i> <!-- Ícono pi-thumbs-up-fill -->
                    </p-button>
                </div>
            </ng-template>
        </p-card>
    </div>
    

    <!-- noticias relevante -->
    <div class="content noticias">
        <h2 class="section-title">Noticia mas relevante <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i> </h2>
        <p >HUNTER x HUNTER promete otros 50 capítulos</p>
        <p class="highlight-text">«Estoy revisando y ajustando los diálogos de los personajes y la cronología de los próximos 50 capítulos de Hunter Hunter, que se publicarán en el futuro. En cuanto termine esa labor, reanudaré el trabajo que he estado interrumpiendo, como añadir entintado a los manuscritos».</p>
        <div class="history-highlight">
            <img src="https://i.gifer.com/7b53.gif" alt="noticias" class="HUNTER x HUNTER">
            <blockquote class="quote">Aunque la fecha de regreso de HUNTER x HUNTER sigue siendo incierta, los fans mantienen la esperanza de que Togashi logre superar sus dificultades y continuar esta historia que ha capturado la imaginación de millones. Por ahora, la paciencia y el apoyo de la comunidad parecen ser la clave para acompañar al autor en este desafío.</blockquote>
        </div>
    </div>

    <!-- Carrusel -->
<div class="carousel-container" style="max-width: 600px; margin: auto;">
    <p-carousel 
        [value]="images" 
        [numVisible]="1" 
        [numScroll]="1" 
        [circular]="true" 
        [autoplay]="true" 
        [autoplayInterval]="3000"
        [responsiveOptions]="responsiveOptions">
        
        <ng-template pTemplate="item" let-item>
            <div class="carousel-item" style="width: 100%; height: 400px;">
                <img [src]="item" alt="GIF Animado" class="carousel-img" />
            </div>
        </ng-template>

    </p-carousel>
</div>


    <!-- Formulario de contacto -->
    <div class="container">
        <h2>Dame tu opinion!! <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i></h2>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">Nombre:</label>
                <input type="text" id="firstName" formControlName="firstName" placeholder="Ingresa tu nombre" />
            </div>

            <div class="form-group">
                <label for="lastName">Apellidos:</label>
                <input type="text" id="lastName" formControlName="lastName" placeholder="Ingresa tus apellidos" />
            </div>

            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" formControlName="email" placeholder="Ingresa tu correo electrónico" />
            </div>

            <div class="form-group">
                <label for="Alias">Alias:</label>
                <input type="text" id="Alias" formControlName="Alias" placeholder="Como te gusta que te diga?" />
            </div>

            <div class="form-group">
                <label for="Pais">Dime de donde nos escribes:</label>
                <input type="text" id="pais" formControlName="pais" placeholder="dime tu pais" />
            </div>

            <div class="form-group">
                <label for="gender">Género:</label>
                <select id="gender" formControlName="gender">
                    <option value="">Seleccione</option>
                    <option value="male">Masculino</option>
                    <option value="female">Femenino</option>
                    <option value="other">Eres de otro mundo?</option>
                </select>
            </div>

            <div class="form-group">
                <label for="message">Mensaje:</label>
                <textarea id="message" rows="4" formControlName="message" placeholder="Escribe lo que piensas"></textarea>
            </div>

            <div class="form-group checkbox-group">
                <label>
                    <input type="checkbox" formControlName="agree"/>
                    Acepto dar un riñon !!!..
                </label>
            </div>

            <div class="form-group">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>


    <script>
        const images = [
            'https://i.pinimg.com/736x/6c/fe/ef/6cfeef1f897a2ddcd186f01fab4ab879.jpg',
            'https://i.pinimg.com/736x/f3/d6/cf/f3d6cf6c893260907dcfaa41032bf6df.jpg',
            'https://i.pinimg.com/736x/c7/16/a4/c716a492b7da6497ef7849d258e950a0.jpg'
        ];

        const responsiveOptions = [
            { breakpoint: '1024px', numVisible: 3, numScroll: 1 },
            { breakpoint: '768px', numVisible: 2, numScroll: 1 },
            { breakpoint: '480px', numVisible: 1, numScroll: 1 }
        ];
    </script>
</body>

</html>
