<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblotec</title>

    <!-- PrimeNG y PrimeIcons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/primeng@15.2.0/resources/themes/lara-light-indigo/theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/primeng@15.2.0/resources/primeng.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/primeicons@6.0.0/primeicons.css">
</head>



<body>
    <!-- Título Principal -->
    <header>
        <h1 style="text-align: center; font-size: 2.5rem; margin: 20px 0;">Bliblotec<i class="pi pi-spin pi-cog " style="font-size: 2rem"></i></h1>
        <div class="grid p-2 justify-content-center align-items-center gap-3 flex-wrap">
            <p-button label="Te gusto" [raised]="true" />
            <p-button label="comparte" [raised]="true" severity="secondary" />
            <p-button label="libros" [raised]="true" severity="success" />
            <p-button label="Informacion" [raised]="true" severity="info" />
            <p-button label="ibicacion" [raised]="true" severity="warning" />
            <p-button label="Ayuda" [raised]="true" severity="help" />
            <p-button label="contacto" [raised]="true" severity="danger" />
            <p-button label="sobre nosotros" [raised]="true" severity="contrast" />
            </div>
    </header>
    <p-carousel
    [value]="products"
    [numVisible]="3"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    [circular]="true"
    class="transparent-carousel">
    <ng-template let-product pTemplate="item">
      <div 
        class="product-item p-4 bg-transparent rounded-lg shadow-none hover:shadow-lg transition-shadow duration-300">
        <!-- Imagen del producto -->
        <div class="mb-4 overflow-hidden rounded-lg bg-transparent">
          <img 
            [src]="product.image" 
            [alt]="product.name" 
            class="w-full h-auto object-cover object-center rounded-lg" />
        </div>
  
        <!-- Detalles del producto -->
        <div class="product-detail text-center text-white">
          <h4 class="text-xl font-semibold mb-2">{{ product.name }}</h4>
          <p class="text-lg mb-3">${{ product.price }}</p>
  
          <!-- Estado del inventario -->
          <p-tag 
            [value]="product.inventoryStatus"
            [severity]="getSeverity(product.inventoryStatus)"
            class="mb-3 bg-transparent text-white border-transparent"
          ></p-tag>
  
          <!-- Botones de acción -->
          <div class="flex justify-center space-x-4">
            <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" 
              class="p-button-rounded p-button-outlined text-white border-white" />
            <p-button icon="pi pi-shopping-cart" 
              styleClass="p-button-rounded p-button-outlined ml-2 text-white border-white" />
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

    <!-- Cards -->
    <div class="card-container">
        <!-- Card  -->
        <p-card header="cien años de soledad " subheader="Gabriel García Márquez" [style]="{ width: '300px', backgroundColor: '#d6eaf8 ', color: '#1c2833 ' }">
            <ng-template pTemplate="header">
                <img alt="Messi Card" src="https://www.libreriaespanola.com/wp-content/uploads/2024/04/90069678.jpg" />
            </ng-template>
            <p>
                Una saga mágica que narra la historia de la familia Buendía en el pueblo de Macondo, atrapada en un ciclo de amores, guerras y tragedias. Mezcla lo real con lo fantástico, explorando temas como la soledad, el destino y la memoria.
            </p>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
                    <a href="https://www.biografiasyvidas.com/biografia/g/garcia_marquez.htm" target="_blank" style="text-decoration: none;">
                        <p-button 
                            label="Ver MÁS Chisme" 
                            severity="success" 
                            styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
                            <i class="pi pi-thumbs-up-fill"></i> <!-- Ícono pi-thumbs-up-fill -->
                        </p-button>
                    </a>
                </div>
            </ng-template>
        </p-card>
    
        <!-- Card -->
        <p-card header="1984" subheader="George Orwell" [style]="{ width: '300px', backgroundColor: '#e8daef ', color: '#1c2833 ' }">
            <ng-template pTemplate="header">
                <img alt="VISA" src="https://anylang.net/sites/default/files/styles/book_image/public/covers/1984.jpg?itok=IVpqqKj5" />
            </ng-template>
            <p>
                Una distopía donde el Gran Hermano vigila todo y el gobierno manipula la verdad para mantener el control. Winston Smith, un hombre común, lucha por la libertad en un mundo opresivo, lleno de censura y represión.
            </p>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
                    <a href="https://www.biography.com/authors-writers/george-orwell" target="_blank" style="text-decoration: none;">
                        <p-button 
                            label="Ver MÁS Chisme" 
                            severity="success" 
                            styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
                            <i class="pi pi-thumbs-up-fill"></i> <!-- Ícono pi-thumbs-up-fill -->
                        </p-button>
                    </a>
                </div>
            </ng-template>
        </p-card>
    
        <!-- Card -->
        <p-card header="Fundacion" subheader="Isaac Asimov" [style]="{ width: '300px', backgroundColor: '#a3e4d7 ', color: '#1c2833 ' }">
            <ng-template pTemplate="header">
                <img alt="Sousou no Frieren" src="https://swordsblasters.com/wp-content/uploads/2021/05/fundacion-e-imperio-1.png" />
            </ng-template>
            <p>
                Una serie de novelas de ciencia ficción que siguen el plan de Hari Seldon para salvar la humanidad tras la caída del Imperio Galáctico. Con intrigas políticas y avances científicos, plantea un fascinante futuro de civilizaciones en conflicto.
            </p>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
                    <a href="https://www.britannica.com/biography/Isaac-Asimov" target="_blank" style="text-decoration: none;">
                        <p-button 
                            label="Ver MÁS Chisme" 
                            severity="success" 
                            styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
                            <i class="pi pi-thumbs-up-fill"></i> <!-- Ícono pi-thumbs-up-fill -->
                        </p-button>
                    </a>
                </div>
            </ng-template>
        </p-card>
    </div>
    <!-- noticias relevante -->
    <div class="content noticias">
        <h2 class="section-title">Han Kang: la ganfadora del año<i class="pi pi-spin pi-cog" style="font-size: 2rem"></i> </h2>
        <p >La escritora surcoreana Han Kang ha sido galardonada con el Premio Nobel de Literatura 2024. 
            CADENA SER
             Nacida en 1970 en Gwangju, Corea del Sur, es reconocida por su "intensa prosa poética que confronta traumas históricos y expone la fragilidad de la vida humana". Entre sus obras más destacadas se encuentra "La vegetariana", publicada en 2007, que explora la vida de una mujer que decide dejar de comer carne, enfrentando la incomprensión de su entorno. Han Kang es la primera mujer asiática en recibir este prestigioso galardón.</p>
        <p class="highlight-text">Han Kang</p>
        <div class="history-highlight">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSadFHd16SOEOv5SdOcl7TYrNDYhafk36mfog&s" alt="noticias" class="HUNTER x HUNTER">
            <blockquote class="quote">Han Kang, escritora surcoreana ganadora del Premio Nobel de Literatura 2024, es conocida por su profunda capacidad para explorar la fragilidad humana y los traumas históricos a través de una prosa poética y conmovedora. Nacida en 1970 en Gwangju, Corea del Sur, su obra más icónica, La vegetariana, recibió el Premio Man Booker International en 2016 y marcó un hito en la literatura contemporánea al abordar temas de identidad, resistencia y desconexión social.</blockquote>
        </div>
        
        <div class="grid p-2 justify-content-center gap-3 flex-wrap">
            <p-button icon="pi pi-check" [rounded]="true" [text]="true" />
            <p-button icon="pi pi-bookmark" [rounded]="true" [text]="true" severity="secondary" />
            <p-button icon="pi pi-search" [rounded]="true" [text]="true" severity="success" />
            <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="info" />
            <p-button icon="pi pi-bell" [rounded]="true" [text]="true" severity="warning" />
            <p-button icon="pi pi-heart" [rounded]="true" [text]="true" severity="help" />
            <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" />
            <p-button label="Han Kang" [raised]="true"  />
            </div>
    </div>

    

    <!-- Formulario de contacto -->
    <div class="container">
        <h2>Dame tu opinion!! <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i></h2>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">Nombre:</label>
                <input type="text" id="firstName" formControlName="firstName" placeholder="Ingresa tu nombre" />
            </div>

            <div class="form-group">
                <label for="lastName">Apellidos:</label>
                <input type="text" id="lastName" formControlName="lastName" placeholder="Ingresa tus apellidos" />
            </div>

            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" formControlName="email" placeholder="Ingresa tu correo electrónico" />
            </div>

            <div class="form-group">
                <label for="Alias">Alias:</label>
                <input type="text" id="Alias" formControlName="Alias" placeholder="Como te gusta que te diga?" />
            </div>

            <div class="form-group">
                <label for="Pais">Dime de donde nos escribes:</label>
                <input type="text" id="pais" formControlName="pais" placeholder="dime tu pais" />
            </div>

            <div class="form-group">
                <label for="gender">Género:</label>
                <select id="gender" formControlName="gender">
                    <option value="">Seleccione</option>
                    <option value="male">Masculino</option>
                    <option value="female">Femenino</option>
                    <option value="other">Eres de otro mundo?</option>
                </select>
            </div>

            <div class="form-group">
                <label for="message">Mensaje:</label>
                <textarea id="message" rows="4" formControlName="message" placeholder="Escribe lo que piensas"></textarea>
            </div>

            <div class="form-group checkbox-group">
                <label>
                    <input type="checkbox" formControlName="agree"/>
                    Acepto dar un riñon !!!..
                </label>
            </div>

            <div class="form-group">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>


    <script>
        const images = [
            'https://i.pinimg.com/736x/6c/fe/ef/6cfeef1f897a2ddcd186f01fab4ab879.jpg',
            'https://i.pinimg.com/736x/f3/d6/cf/f3d6cf6c893260907dcfaa41032bf6df.jpg',
            'https://i.pinimg.com/736x/c7/16/a4/c716a492b7da6497ef7849d258e950a0.jpg'
        ];

        const responsiveOptions = [
            { breakpoint: '1024px', numVisible: 3, numScroll: 1 },
            { breakpoint: '768px', numVisible: 2, numScroll: 1 },
            { breakpoint: '480px', numVisible: 1, numScroll: 1 }
        ];
    </script>
    <!-- Galería -->
  <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
    <p-galleria [value]="galleryImages" [responsiveOptions]="responsiveOptions" [numVisible]="3" [circular]="true" style="max-width: 640px">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.image" [alt]="item.alt" style="width: 100%; max-height: 300px;" /> <!-- Tamaño ajustado -->
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <img [src]="item.thumbnailImage" [alt]="item.alt" style="max-height: 100px;" /> <!-- Tamaño ajustado -->
      </ng-template>
    </p-galleria>
  </div>


  
        
</body>


</html>
